[user]
	email = mamoru.murakami24@gmail.com
	name = mamoroom
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	ci = commit
	co = checkout
	br = branch
	st = status
	graph = log --graph -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[merge]
	ff = false
[pull]
	rebase = true
[push]
	default = tracking
